@font-face {
  font-family: simple;
  src: url(Montserrat-Hairline.woff);        
}

body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
	background-image: url(cabin.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x:hidden; 
	margin: 0;
}
a{
	color: white !important;
text-decoration: none !important;
}
.section{
		height: 100%;
		width:100%;
		background-color:rgba(0,0,0,0.65);
	
	}
.button{
left:0px;
font-size: 1em;
font-family: simple;
color: white !important;
text-decoration: none !important;
margin: 10px;
position: fixed;
top:0px;
z-index: 3;
}

<<<<<<< HEAD

#mainDisplayArea {

	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	background-color:rgba(100, 97, 97, 0.9);
	z-index: 1;
	border-radius: 30px;

}

#profile_pic{
	opacity: 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 85px;
	width: 85px;
	position: absolute;
	left:50px;
	top: 50px;
	background-color: rgba(255, 255, 255, 0.62);
	background-image: url(profile.jpg);
	background-size: cover;
}


#fileToUpload{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	left:50px;
	top: 150px;
}
#submit{
	position: absolute;
	left:50px;
	top: 190px;

}