@font-face {
  font-family: Comf-Bold;
  src: url(./fonts/Comfortaa_Bold.ttf);      
}
@font-face {
  font-family: BELLABOO;
  src: url(BELLABOO.ttf );      
}
@font-face {
  font-family: simple;
  src: url(Montserrat-Hairline.woff);        
}
a{
	color: white !important;
text-decoration: none !important;
}
input{
	height:40px;
	width:220px;
	
	position:absolute;
/*	left:calc(50% - 90px);*/
	outline: none;
	

	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*border: 1px solid black;*/
	background-color:rgba(100, 97, 97, 0.9);
	padding:7px;
	color:white;
	font-family: simple;
	position: absolute;
	font-size: 0.8em;
	left:calc(50% - 110px);
}

input::-webkit-input-placeholder { color:#e0e0e0; font-family: simple; }
input::-moz-placeholder { color:#e0e0e0; font-family: simple;}


body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
	background-image: url(cabin.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x:hidden; 
	margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

*{
	cursor:default;
}

.section{
		background-color:rgba(0,0,0,0.6);
	
	}


#title{
	z-index: 5;
	width: 100%;
	text-align: center;
	height:70px;
	font-size: 5.5em;
	font-family: BELLABOO;
	position: absolute;
	top:35%;
	color: white;
			opacity: 0;
		-webkit-transition:  opacity 2300ms;
		-moz-transition:     opacity 2300ms;
		-ms-transition:      opacity 2300ms;
		transition:          opacity 2300ms;
}


#motto{
	z-index: 5;
	-webkit-transition:  opacity 2300ms;
	-moz-transition:     opacity 2300ms;
	-ms-transition:      opacity 2300ms;
	transition:          opacity 2300ms;
	width: 100%;
	text-align: center;
	height:70px;
	font-size: 0.97em;
	font-family: simple;
	position: absolute;
	top:calc(35% + 120px);
	color: white;
	line-height: 150%;
	text-transform: uppercase;
	opacity: 0;

}
.button{
left:0px;
font-size: 1em;
font-family: simple;
color: white !important;
text-decoration: none !important;
margin: 10px;
position: fixed;
top:0px;
z-index: 3;
}

#login{
	right:0px;
	left: auto;
}

#section2{
		background-color:rgba(0,0,0,0.9);
		position: relative;
	}

#profile_box{
	position: absolute;
	left:calc(75% - 150px);
	top:calc(50% - 135px);
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	height:120px;
	width: 300px;
	background-color: rgba(100, 97, 97, 0.9);
	-webkit-transition:  150ms linear;
	-moz-transition:  150ms linear;
	-ms-transition:  150ms linear;
	transition:  150ms linear;
	overflow: hidden;
}
#profile_box:hover{
height:235px;
top:calc(50% - 160px);
}



#profile_info{
	font-family: simple;
	color:black;
	text-align: left;
	font-size: 0.9em;
	position: absolute;
	line-height: 200%;
	right: 20px;
	top:20px;
}
#profile_pic{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 85px;
	position: absolute;
	left:20px;
	top: 16px;
}
.info{
	font-family: simple;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;

/*	border-top: 1px solid black;*/
	height:20px;
	background-color: none;
	width:280px;
	position: absolute;
	top:120px;
}
#info2{
	top:160px;
}
#info3{
	top:200px;
}
.right{
	margin: 0px !important;

	float: right;
}
.left{
	margin: 0px !important;
	float: left;
}

#text_box{
	position: absolute;
	right:55%;
	top:calc(50% - 200px);
	width:40%;
	min-width: 350px;
	height: 500px;

	text-align: justify;
	font-size: 1.2em;
	font-family: simple;
	color:#e0e0e0;
}

h1{
	font-size: 2.2em;
	font-family: simple;
	text-align: center;
	color:#e0e0e0;
}

#profile_box2{
	position: absolute;
	left:calc(75% - 150px);
	top:calc(50% + 15px);
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	height:120px;
	width: 300px;
	background-color: rgba(100, 97, 97, 0.9);
	-webkit-transition:  150ms linear;
	-moz-transition:  150ms linear;
	-ms-transition:  150ms linear;
	transition:  150ms linear;
	overflow: hidden;
}
#profile_box2:hover{
height:235px;

}

#profile_box:hover ~ #profile_box2{
top:calc(50% + 105px);

}


#section3{
	background-color:rgba(0,0,0,0.9);
	position: relative;
}

#fullname{
	top: calc(40%);
}
#email{
	top: calc(40% + 60px);
}
#password{
	top: calc(40% + 120px);
}

#loginDiv {
	position: absolute;
	top: calc(3.5% - 20px);
	left: calc(90% - 500px);
	width: 700px;
	z-index: 1;
}

#emailLogin {
	left: calc(50% - 110px);
	top:40%;
}

#passwordLogin {
	left: calc(50% - 110px);
	top:calc(40% + 60px);
}

#create_title{
	width: 100%;
	height: 50px;
	position: absolute;
	top:calc(40% - 90px);
	font-size: 2.2em;
	font-family: simple;
	color: white;
	text-align: center;

}
#sign_up{
	width: 218px;
	height: 38px;
	line-height: 38px;
	left:calc(50% - 110px);
	top:calc(40% + 180px);
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background-color:rgba(0,0,0,0);
	color:#e0e0e0;
	font-family: simple;
	position: absolute;

}

#loginButton {
	width: 100px;
	height: 38px;
	left: calc(50% - 50px);
	top:calc(40% + 120px);
	line-height: 38px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background-color:rgba(0,0,0,0);
	color:#e0e0e0;
	font-family: simple;
	position: absolute;
}

#logindiv{
	visibility:hidden;
	opacity: 0;
	width:100%;
	height:100%;
	position: fixed;
	left:0px;
	top:0px;
	background-image: url(cabin.jpg);
	background-size: cover;
	background-color: black;
	-webkit-transition:  300ms linear;
	-moz-transition:  300ms linear;
	-ms-transition:  300ms linear;
	transition:  300ms linear;
}

#loginDivscreen{

	width:100%;
	height:100%;
	position: fixed;
	left:0px;
	top:0px;
	background-color: rgba(0,0,0,0.8);
			-webkit-transition:  opacity 2300ms;
		-moz-transition:     opacity 2300ms;
		-ms-transition:      opacity 2300ms;
		transition:          opacity 2300ms;
}